# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [1]:
# Answer here
a =8
b=12
print(a+b)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [2]:
# Answer here
print(7-20)

-13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [3]:
# Answer here
a =6
b=9
c=a*b
print(c)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [4]:
# Answer here
print(45/9)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [6]:
# Answer here
a=45
b=9
c=50
d=6
print(a//b)
print(c//d)

5
8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [7]:
# Answer here
print(29%5)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [8]:
# Answer here
print(3**4)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [9]:
# Answer here
x=4
print(+x)
print(-x)

4
-4

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [11]:
# Answer here
print(5+3*2)
print((5+3)*2)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [12]:
# Answer here
a=15
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

19
11
60
3.75
3
3
50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [13]:
# Answer here
n=10
print(n)
n+=5
print(n)
n*=2
print(n)
n-=4
print(n)

10
15
30
26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [15]:
# Answer here
x=3
y=7
x,y=y,x
# x = y
# y = x
print(x,y)

7 3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [3]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a=int(input("Enter first number "))
b= int(input("Enter second number"))
result= a+b
print ("sum:",result)

Enter first number 3
Enter second number4
sum: 7

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [10]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a=float(input("Enter first number "))
b= float(input("Enter second number"))
c= float(input("Enter third number"))
result=(a+b+c)/3
print("Average:", result)

Enter first number 20
Enter second number30
Enter third number10
Average: 20.0

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [15]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
radius= float(input("Enter radius of circle"))
circumference= 2*3.14159*radius
area= 3.14159*radius**2
print("Circumference:", circumference)
print("Area:", area)

Enter radius of circle2
Circumference: 12.56636
Area: 12.56636

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [21]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
total_seconds= int(input("Enter total seconds"))
hours= total_seconds//3600
minutes= (total_seconds%3600)//60
seconds= (total_seconds%3600)%60
print(hours,":",minutes,":",seconds)

Enter total seconds3600
1 : 0 : 0

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [22]:
# Answer here

principal= float(input("Enter principal"))
rate= float(input("Enter rate"))
time= float(input("Enter time"))
print("Interest:", (principal*rate*time)/100)

Enter principal2000
Enter rate2
Enter time3
Interest: 120.0