Q1. Print numbers from 1 to 20 using while loop.

Approach:
- Initialize a variable
- Use while condition
- Increment inside loop

In [8]:
#write answer here
n=1
while n<=20:
  print(n)
  n=n+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Q2. Print even numbers till 50 using while loop.

Approach:
- Start from 2
- Increment by 2
- Stop at 50

In [14]:
#write answer here
i=2
while i<=50:
  print(i)

  i=i+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

Q3. Print multiplication table of 5.

Approach:
- Initialize counter
- Multiply inside loop

In [17]:
#write answer here
i=1
while i<=10:

  print(f"5*{i}={5*i}")
  i=i+1

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

Q4. Find sum of numbers from 1 to n.

Approach:
- Take input n
- Add numbers in loop

In [24]:
#write answer here
n=int(input("enetr the number "))
i=1
sum=0
while i <=10:
  sum=sum+i
  i=i+1
  print(sum)

enetr the number 10
1
3
6
10
15
21
28
36
45
55

Q5. Reverse a number using while loop.

Approach:
- Extract last digit
- Build reversed number

In [ ]:
#write answer here

var= int(input())

new = var

res=0

while var>0:
  temp = var % 10
  res = res*10 + temp
  var = var // 10

print(res)


if new==res:
  print("Palindrome")
else:
  print("Not Palindrome")

121
121
Palindrome

Q6. Count digits in a number.

Approach:
- Divide number by 10 repeatedly
- Count iterations

In [28]:
#write answer here
n=int(input())
count=0
while n>0:
  n=n//10
  count=count+1
print(count)

2000
4

Q7. Check if a number is palindrome.

Approach:
- Reverse number
- Compare with original

In [32]:
#write answer here

n=121
if str(n)==str(n)[-1::-1]:
  print("Palindrome")
else:
  print("Not Palindrome")

Palindrome

Q8. Guess the number game.

Approach:
- Use while loop
- Continue until correct guess

In [ ]:
#write answer here

var=int(input())

fake=10

while var!=fake:
  print("Try again")
  var=int(input())

print("Guessed correctly")

Submission link for this assignment -